<div class = "pimg1">
	<div style ="margin:auto">
		<h1> HAPPY CODER, </h1>
		<h1> HAPPY CODING FOR BETTER LIFE ! </h1>
		<br>
		<h2 style="color: white">
			Welcom to 3S Intersoft JSC : <a style="color:#72ed15;font-size:150%" href = "http://www.3si.vn/"> 3si.vn</a>
			<br />
			<br />
			<a class="btn btn-primary" *ngIf="!authService.loggedIn()" [routerLink]="['/register']"> Register</a>
			&nbsp;&nbsp;&nbsp;
			<a class="btn btn-primary" *ngIf="!authService.loggedIn()" [routerLink]="['/login']"> Login</a>
			<p *ngIf="authService.loggedIn()">
				You are logged in ! Let go to <a [routerLink]="['/dashboard']">Dashboard</a> to manage users ...
			</p>
		</h2>
	</div>
</div>

  <section class="section section-dark">
    <h2><i class="fa fa-mobile"></i>&nbsp;&nbsp;Mobile Development</h2>
    <p>
			Nowadays, the pressure is on to develop and deploy more mobile applications – and fast. As mobility demands increase in day-to-day transactions for business-to-consumer, business-to-business, business-to-employee and government-to-citizen applications, so do the opportunities to create mobile applications for iOS (iPhone, iPad) and Google Android smartphones that empower employees and engage customers in new ways, or just simply to encourage individuals to have better opportunities communicating to the world. Let's your organization tap into these benefits even when your time and resources are limited by using 3S services.
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        IOS & ANDROID
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2><i class="fa fa-trophy"></i>&nbsp;&nbsp;Software Outsourcing Service</h2>
    <p>
			Our experienced, well-managed and highly competent offshore outsourcing teams have been providing comprehensive, premium and most satisfactory offshore outsourcing services as well as software development and website design services to domestic and international Customers.
			3S can gather resources for your Offshore Software Development Center (OSDC) with a dedicated team. Your dedicated OSDC team acquires and maintains an intimate understanding of your software development requirements and processes as an integral part of your software development strategy.

		</p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
        ROI from Outsourcing to 3S
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2><i class="fa fa-ravelry fa-spin"></i>&nbsp;&nbsp;Web Design and Coding</h2>
    <p>
				3S utilizes pre-built content management system (CMS) core to save both time and money. In some certain contexts, 3S also develop systems from scratch to maximize the business support of the applications.
				Our software designer bases on the analysed business to develop CWD document which includes software requirement specifications, function and data flow design, wire frame and layout design, test cases;
				You can gain access to our  Project Management System (3S Insight) for real-time tracking of your CWD progress ;
				Deliverables will be uploaded to our development web server at milestones of the CWD plan.
				Beta release of CWD will be launched for acceptance test.

    </p>
  </section>

	<div class="pimg4">
    <div class="ptext">
      <span class="border trans">
        PARALLAX & RESPONSIVE DESIGN
      </span>
    </div>
  </div>

	<section class="section section-dark">
		<h2><i class="fa fa-handshake-o" ></i>&nbsp;&nbsp;NFC Marketing Service</h2>
		<p>
				3S utilizes pre-built content management system (CMS) core to save both time and money. In some certain contexts, 3S also develop systems from scratch to maximize the business support of the applications.
				Our software designer bases on the analysed business to develop CWD document which includes software requirement specifications, function and data flow design, wire frame and layout design, test cases;
				You can gain access to our  Project Management System (3S Insight) for real-time tracking of your CWD progress ;
				Deliverables will be uploaded to our development web server at milestones of the CWD plan.
				
		</p>
	</section>

	<div class="pimg5">
		<div class="ptext">
			<span class="border trans">
				SMART marketing
			</span>
		</div>
	</div>
	<h2 style="text-align:center;font-size:400%;color:#219dd0;margin-top:50px;margin-bottom:50px"> Why 3S ?</h2>
	<div style="min-height:200px;margin: 40px 80px 20px 80px" class="row text-center">
		<div class="col-md-4" >
			<img src="/images/icon1.png">
			<h3>Experienced Staffs</h3>
			<br />
			<p>At 3S, competent software engineers, mobile application developers, creative web designers, business analysts and solution architects are given necessary trainings and best working environment to demonstrate their capabilities, to focus on their work, and to create value for Customers</p>
		</div>
		<div class="col-md-4">
			<img src="/images/icon2.png">
			<h3>Human Resource Specifications</h3>
			<br />
			<p>
				Competent software engineers, mobile application developers, creative web designers, business analysts and solution architects are life-long learners and practitioners, who passionately focus on their works to create values for Customers
			</p>
		</div>
		<div class="col-md-4">
			<img src="/images/icon3.png">
			<h3>Project Management</h3>
			<br />
			<p>Applying proven, well-known software engineering process and management methodologies to simplify Software Delivery (not only CMMi-5 practices handed down by experienced members but also SCRUM methodology and Agile software development approach</p>
		</div>
	</div>
	<div style="min-height:200px;margin: 40px 80px 80px 80px" class="row text-center">
		<div class="col-md-4" >
			<img src="/images/icon4.png">
			<h3>Quality Management</h3>
			<br />
			<p>Software quality is becoming increasingly important. Software is now used in many applications and software defects have caused serious damage and even physical harm. Defects in financial applications can be very costly but defects in software that fly airplanes, drive cars, operate machines
			</p>
		</div>
		<div class="col-md-4">
			<img src="/images/icon5.png">
			<h3>Infrastructure</h3>
			<br />
			<p>Locating in an energetic area of Hanoi - capital city of Vietnam, 3S is equipped with the most advanced and professional innovative IT infrastructure to ensure optimal security, reliability, scalability and productivity</p>
		</div>
		<div class="col-md-4">
			<img src="/images/icon6.png">
			<h3>IP Protection</h3>
			<br />
			<P>ntellectual Property (IP) protection is vital to our Customers' business development. IP means not only patents, trademarks and copyrights, but also the processes, techniques and methodology. Software outsourcing service always exposes a high level of knowledge sharing between Customers and Providers		</P>
		</div>
	</div>
